html {
    cursor: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #00FF00;
    font-family: "Source Code Pro", monospace;
}

input {
    background-color: black;
    border: none;
    outline: none;
    color: #00FF00;
    font-family: "Source Code Pro", monospace;
}

/* ---- LOGIN PAGE ---------------------------------------------------------- */

#login {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

#login h1 {
    font-size: 3em;
}

#username {
    border-color: #00FF00;
    border-width: 2px;
    border-style: solid;
    padding: 0.5em;
    font-size: 1em;
}

/* ---- GAME PAGE ----------------------------------------------------------- */
